@use 'fonts';

@use 'links';
@use 'footer';
@use 'navigation-header';

.center-on-screen{
    height: 3840px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    max-width: 1110px;

    margin-right: 125px;
    margin-left: 125px;
}

.title-card {
    width: 100%;
    align-self: first baseline;

    display: flex;
    justify-content: space-between;

    &__container {
        max-width: 635px;
        width: 100%;
    }
    &__text {
    font-family: fonts.$main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    color: fonts.$main-text-color;
    }

    &__header {
    font-family: fonts.$main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;

    letter-spacing: -0.4px;
    }
}

.highlighted-text {
    color: fonts.$highlighted-text-color;
}

.quote {
    align-self: flex-end;
}

.gallery-grid__container {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 32;
    gap: 20px;
    width: 100%;

    &__img-1{
        grid-area: 1 / 1 / 8 / 2;
    }

    &__img-2{
        grid-area: 8 / 1 / 16 / 2;
    }

    &__img-3{
        grid-area: 16 / 1 / 24 / 2;
    }

    &__img-4{
        grid-area: 24 / 1 / 32 / 2;
    }

    &__img-5{
        grid-area: 1 / 2 / 7 / 3;
    }

    &__img-6{
        grid-area: 7 / 2 / 14 / 3;
    }

    &__img-7{
        grid-area: 14 / 2 / 23 / 3;
    }

    &__img-8{
        grid-area: 23 / 2 / 32 / 3;
    }

    &__img-9{
        grid-area: 1 / 3 / 11 / 4;
    }

    &__img-10{
        grid-area: 11 / 3 / 18 / 4;
    }

    &__img-11{
        grid-area: 18 / 3 / 27 / 4;
    }

    &__img-12{
        grid-area: 27 / 3 / 32 / 4;
    }
}

.offerings {
    &__container {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__card-motto {
        &__text {
            max-width: 635px;

            font-family: fonts.$main-font;
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            
            color: fonts.$main-text-color;
        }
    }

    &__card-services {
        display: flex;


        max-width: 350px;

        &__list {
            max-height: 106px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__text {
            font-family: fonts.$main-font;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;

            color: fonts.$main-text-color;

            mix-blend-mode: normal;
            opacity: 0.6;

            margin-bottom: -10px;
        }
    }

}

.awards {
    &__container {
        width: 100%;
    }

    &__section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        &-1 {
            border-top: solid 2px;
            border-bottom: solid 2px;
            border-color: #D8D8D8;
        }

        &-2 {
            border-bottom: solid 2px;
            border-color: #D8D8D8;
        }
    }

    &__header {
        margin-right: auto;

        font-family: fonts.$main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;

    color: fonts.$main-text-color;
    }
}

.awards__card__details {
    width: 50%;

    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: 1;

    &-2 {
        margin-left: auto;
    }

    &__title {
        font-family: fonts.$main-font;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        
        color: fonts.$main-text-color;
    }

    &__description {
        &__title {
            font-family: fonts.$main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;  

        color: fonts.$main-text-color;
        }

        &__text {
            font-family: fonts.$main-font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;

            color: fonts.$main-text-color;

            mix-blend-mode: normal;
            opacity: 0.6;
        }
    }

    &__year {
        text-align: end;
        font-family: fonts.$main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: fonts.$main-text-color;
    }
}