@use 'fonts';
@use 'links';
@use 'footer';
@use 'navigation-header';
@use 'page-containers';

.info {
    &__container {
        display: flex;
        width: 100%;
    }

    &__text-container {
        display: flex;
        flex-direction: column;

    }

    &__header {
        font-family: fonts.$main-font;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
    
        color: fonts.$main-text-color;
    }

    &__text {
        font-family: fonts.$main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

        color: fonts.$main-text-color;

        mix-blend-mode: normal;
        opacity: 0.8;
    }
}