@use 'fonts';
@use 'links';
@use 'footer';
@use 'navigation-header';
@use 'page-containers';

.info {
    &__container {
        display: flex;
        width: 100%;

        justify-content: space-between;
    }

    &__text-container {
        display: flex;
        flex-direction: column;

    }

    &__header {
        font-family: fonts.$main-font;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
    
        color: fonts.$main-text-color;

        max-width: 495px;   
    }

    &__text {
        font-family: fonts.$main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

        color: fonts.$main-text-color;

        mix-blend-mode: normal;
        opacity: 0.8;

        max-width: 635px;
    }
}

.info__table {

    &__grid {
        display: flex;
        flex-direction: column;
    }

    &__container {
        width: 100%;
        max-height: 343px;
        min-width: 335px;

        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;

        justify-content: space-between;

        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: #979797;
    }

    &__item {
        font-family: fonts.$main-font;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        overflow: none;

        color: fonts.$main-text-color;

        &--semi-transparent {
            mix-blend-mode: normal;
            opacity: 0.5;
        }
    }


}
